[project]
name = "geometric-modeling"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.9"
dependencies = [
    "numpy>=2.0.2",
    "pyside6>=6.0.0",  # змінили pyqt6 на pyside6
]